.books {
  table-layout: fixed;
}
.filters {
  position: relative;
  z-index: 100;
}
.filter {
  position: relative;
  width: 100%;
}
.filter__btn {
  text-align: left;
  cursor: pointer;
}
.filter__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-top: 0;
  background: #fff;
}
.clear-button {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-left: 8px;
  padding: 0;
  text-align: center;
}
.clear-button svg {
  display: block;
  margin: 0 auto;
}
.sortable {
  padding-right: 20px;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
}
.sortable.active {
  font-weight: bold;
}
@media (max-width: 767px) {
  .uk-card-body {
    padding: 15px;
  }
  .books {
    display: block;
    width: auto;
    margin: 0 -15px;
  }
  .books thead {
    display: none;
  }
  .books tbody,
  .books tr,
  .books td {
    display: block;
  }
  .books td:not(:first-of-type) {
    padding-top: 0;
  }
}
